@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: #0b1215;
	--color-foreground: #f8f8ff;
	/* converting hex to oklch with the help of this tool:
	 * https://oklch.com/ */
	--color-waikawa-gray-50: oklch(0.9747 0.0051 247.88) /* #f4f7fa */;
	--color-waikawa-gray-100: oklch(0.9406 0.0114 252.09) /* #e6ecf3 */;
	--color-waikawa-gray-200: oklch(0.8938 0.0209 254.92) /* #d3ddea */;
	--color-waikawa-gray-300: oklch(0.8244 0.0338 248.24) /* #b5c8db */;
	--color-waikawa-gray-400: oklch(0.7319 0.0524 252.2) /* #91abc9 */;
	--color-waikawa-gray-500: oklch(0.6521 0.0684 259.37) /* #7791ba */;
	--color-waikawa-gray-600: oklch(0.5892 0.0782 262.61) /* #647dac */;
	--color-waikawa-gray-700: oklch(0.5328 0.0793 267.19) /* #586b9b */;
	--color-waikawa-gray-800: oklch(0.4726 0.0658 268.67) /* #4c5a81 */;
	--color-waikawa-gray-900: oklch(0.4181 0.0495 266.37) /* #404c68 */;
	--color-waikawa-gray-950: oklch(0.3111 0.0318 269.42) /* #2a3041 */;

	--color-obsidian: oklch(0.1764 0.0124 226.09) /* #0b1215 */;
	--color-ghost-white: oklch(0.9811 0.0093 286.23) /* #f8f8ff */;

	--animate-scroll: "var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite";
}

@theme inline {
	--animate-meteor-effect: meteor 5s linear infinite;

	@keyframes meteor {
		0% {
			transform: rotate(215deg) translateX(0);
			opacity: 1;
		}
		70% {
			opacity: 1;
		}
		100% {
			transform: rotate(215deg) translateX(-500px);
			opacity: 0;
		}
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility text-balance {
	text-wrap: balance;
}

@layer utilities {
	:root {
		--background: #0b1215;
		--foreground: #f8f8ff;
	}

	/* @media (prefers-color-scheme: dark) {
		:root {
			--background: #0a0a0a;
			--foreground: #ededed;
		}
	} */

	body {
		color: var(--foreground);
		background: var(--background);
		/* font-family: "IBM Plex Mono", serif; */
	}
}
